services:
  spoticonnector.api:
    build:
      context: .
      dockerfile: SpotiConnector.API/Dockerfile
    ports:
      - "7001:8080"
      - "7002:8081"
      - "7143:7143"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080;https://+:8081
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/spoticonnector.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${CERT_PASSWORD}
    volumes:
      - ${USERPROFILE}\.aspnet\https:/https:ro
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"